/* Contenedor principal del buscador */
.buscador-contenedor {
    background: url('../../../../public/img/edificio-buscador.jpeg') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fondo del buscador */
.buscador-fondo {
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 15px;
    text-align: center;
    margin: 2em auto;
    max-width: 90%;
}

/* Título del buscador */
.buscador-titulo {
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 25px;
}

/* Formulario del buscador */
.buscador-form {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px 15px 0 0;
    text-align: center;
    gap: 1em;
}

/* Estilo del botón del buscador */
#buscador-boton {
    width: 100%;
    font-size: larger;
    background-color: #e3151b;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    margin: 0 !important;
    padding: 0 1em;
    border: none;
}

/* Placeholder del input */
input.buscador-input-text::placeholder {
    color: #000000;
}

/* Estilo del select */
#buscador-select {
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    margin: 5px auto;
}

.select-type-casa__control {
    box-sizing: border-box !important;
    font-size: 20px !important;
    border: none !important;
    margin: 5px auto !important;
    width: 100% !important;
    max-width: 100%;
}

.select-type-casa__placeholder {
    color: #0000008e !important;
    text-align: center;
    padding-left: 37px;
}


.select-type-casa__input-container {
    padding: 8px !important;
}

.select-type-casa__control--is-focused {
    box-shadow: 0px 0px 5px 0.5px #ff0000 !important;
}

.select-type-casa__option {
    padding: 0.375rem 0.75rem !important;
    color: #000000 !important;
    font-weight: 500 !important;
}

.select-type-casa__option--is-focused {
    background-color: #f8f9fa;
}

.select-type-casa__single-value {
    color: #ff0000;
}

.select-type-casa__option--is-selected {
    background-color: #e3151b !important;
    color: #ffffff !important;
}

.select-type-casa__indicator-separator {
    display: none;
}


/* Estilo del select al enfocarse */
#buscador-select:focus {
    box-shadow: 0px 0px 5px 0.5px #ff0000;
}

input.buscador-input-text:focus {
    box-shadow: 0px 0px 5px 0.5px #ff0000 !important;
}

/* Agrupación de formulario */
.buscador-form-group {
    margin: auto;
    text-align: center;
}

/* Contenedor para el botón "Conocer más" */
.contenedor-boton-conocermas {
    position: absolute;
    top: 90%;
}

/* Estilo del botón "Conocer más" */
#boton-conocermas {
    background-color: #e3151b;
    color: #ffffff;
    font-size: 20px;
    border-radius: 7px;
    border: none;
    align-items: center;
    padding: .5rem;
    text-decoration: none;
}

.buscar-texto {
    display: inline;
    text-align: center;
    justify-content: center;
}

/* Media query para pantallas grandes */
@media (min-width: 1200px) {
    .buscador-form {
        border-radius: 15px 0 0 15px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .select-type-casa__control {
        box-sizing: border-box !important;
        font-size: 20px !important;
        border: none !important;
        width: 250px !important;
        margin: 5px auto !important;
        max-width: 100%;
    }

    .select-type-casa__indicator-separator {
        display: block;
        height: 40px !important;
        order: 2;
    }

    .select-type-casa__placeholder {
        text-align: center;
        padding-left: 0%;
    }

    .buscador-titulo {
        font-size: 45px;
        margin-bottom: 1em;
    }

    .contenedor-boton-conocermas {
        top: 80%;
    }

    .buscador-fondo {
        padding: 6em;
    }

    #buscador-boton {
        width: auto;
        border-radius: 0 15px 15px 0;
    }

    .buscar-texto {
        display: none;
    }
}

@media (max-width: 578px) {
    .buscador-fondo {
        max-width: 90%;
    }

    .buscador-titulo {
        font-size: 29px;
        padding-bottom: 10px;
    }
}