.buscador-contenedor {
    width: 100%;
    top: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;


    z-index: 1;
    /* Asegura que esté debajo de la navbar */
    position: absolute;
}

.buscador-titulo {
    max-width: 100%;
    height: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    /* Añade algo de legibilidad al texto sobre la imagen */
}

.buscador-input {
    background: rgba(255, 255, 255, 0.63);
    border-radius: 10px;
}

.buscador-boton {

    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}


.option-select {
    color: black;
}

input.buscador-input-text::placeholder {
    color: #ffffff;
}


@media (max-width: 450px) {}