

.group-form-contact{
 border-radius: 8px;
}

.group-form-contact:focus{
   border: 2px solid #cda523 !important;
 border-radius: 8px;
}

textarea.group-form-contact{
  resize: none;
}
.boton-form{
 border: none !important;
  width: 150px;
  background-color: #e3151b !important;
}

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}