.form-contacto{}

.boton-form{
 border: none !important;
  width: 150px;
  background-color: #cda523 !important;
}

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}