#contenedor-ingresos{
    background-color: #191919;
    text-align: center;
    
}

.nuevos-ingresos-titulo{
    padding-top: 20px;
    color: #f8f7f7;
    font-weight: bold;
}

.contenedor-card-div {
    display: flex;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    width: 100%; /* Asegura que ocupe el ancho completo */
    padding: 1rem; /* Ajusta el padding según prefieras */
}

.div-item-destecada{
    width: 550px;
    height: 450px;
}

@media (max-width: 767px) {
    .contenedor-cards{
        gap: 2em;
    }
}

@media (max-width:550px) {
    .div-item-destecada{
        width: 350px;
        height: 400px;
    }
    
    
}