.swiper-contenedor-tulugar .swiper-tulugar {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 50px;

}

.swiper-contenedor-tulugar .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;


  transition: transform 0.3s ease, opacity 0.3s ease;
}

.swiper-contenedor-tulugar .swiper-slide-prev,
.swiper-contenedor-tulugar .swiper-slide-next {
  opacity: 0.3;
  transform: scale (0.8);
  pointer-events: none;

}

/* Puntos inactivos */
.swiper-tulugar .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #ffffff; /* Color de los puntos inactivos */
  border-radius: 50%;
  border: 2px solid red;
  margin: 0 8px; 
  opacity: 0.5; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

/* Punto activo */
.swiper-tulugar .swiper-pagination-bullet-active {
  background-color: red;
  transform: scale(1); 
}


.swiper-contenedor-tulugar .swiper-slide-active {

  opacity: 1;
  /*el slide activo sera completamente visible*/
  transform: scale(1);
  /*tedra tamaño normal*/
  border-radius: 10px;
}

.swiper-contenedor-tulugar .swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-contenedor-tulugar .swipper-div-contenedor {
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);

}

.swiper-contenedor-tulugar .swiper-button-next,
.swiper-button-prev {
  height: -20px;
}

.imagen-tulugar {
  border-radius: 6px;
  width: 100%; /* Hace que la imagen ocupe el 100% del ancho */
    height: 350px; /* Hace que la imagen ocupe el 100% del alto */
    object-fit: cover center; /* Ajusta la imagen para que ocupe todo el espacio sin deformarse */
  position: relative;
}



.card-tulugar {
  
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width:  100%;
  z-index: 1;

}

.texto-tulugar {
  position: absolute;
  bottom: 1%;
  left: 3%;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 3px 5px 2px #474747;
  width: 50%;
}

.boton-filtros-tulugar{
  position: absolute;
  bottom: 1.5%;
  right: 3%;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: #e3151b;
  border: none;
  z-index: 1000;
}

.boton-filtros-tulugar:hover{
  background-color: #e3151b;
}

@media (max-width: 750px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
  }

  .texto-tulugar{
    width: 50%;
  }
}