.swiper-contenedor-tulugar .swiper-tulugar {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-contenedor-tulugar .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
 

  transition: transform 0.3s ease, opacity 0.3s ease;

}

.swiper-contenedor-tulugar .swiper-slide-prev,
.swiper-contenedor-tulugar .swiper-slide-next {
  opacity: 0.3;
  transform: scale (0.8);
}

.swiper-contenedor-tulugar .swiper-slide-active {
  opacity: 1;
  /*el slide activo sera completamente visible*/
  transform: scale(1);
  /*tedra tamaño normal*/

}

.swiper-contenedor-tulugar .swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-contenedor-tulugar .swipper-div-contenedor {
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 750px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
   
  }
}