
.container-contacto{
      display: fleX;
    width: auto;
    justify-content: center;
    padding: 25px;
    margin: auto;
    gap: 200px;
}

.imagen-contacto{
  border-radius: 15px;
}

.titulo-mensaje{
  font-weight: bold;
}

.col-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 600px;
}

@media (max-width: 1468px){

  .container-contacto{
    gap: 10px;
  }
  .col-contacto{
    width: auto;
  }
}