.div-slide-propiedades {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.slide-imagen {
    width: 85% !important;
    height: 90%;
    object-fit: cover;
    border-radius: 8px !important;
}

.datos-destacadas {
    position: absolute;
    bottom: 0;
    right: 5%;
    border-radius: 20px !important;
}

.card-destacadas-body {
    background-color: rgb(234, 181, 57);
    border-radius: 4px;
}

.card-destacadas-estado {
    color: rgb(255, 255, 255) !important;
    font-size: x-large !important;
    text-align: center;
    padding: 4px;
    margin: auto 2px !important;
    font-weight: 400 !important;
}

.card-destacadas-textos {
    color: white;
    font-size: large;
}

.card-destacada-propiedad-name {
    font-size: xx-large;
    font-weight: bold;
}

.card-fondo-title {
    display: inline-block;
    padding: 0 1px;
    background-color: #5a5a5a;
    border-radius: 3px;
}

#propiedades-destacadas-piancatelli {
    color: #cda523;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 2%;
}

@media (max-width: 1240px) {
    .datos-destacadas {
        bottom: 0;
        width: 40%;
    }

    .card-destacadas-textos {
        font-size: medium;
    }

    .card-destacada-propiedad-name {
        font-size: x-large;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    .datos-destacadas {
        bottom: 0;
        width: 50%;
    }

    .card-destacadas-textos {
        font-size: small;
        line-height: 1em;
    }

    .card-destacada-propiedad-name {
        font-size: large;
        font-weight: bold;
        padding-top: 5px
    }

    .card-destacadas-estado {
        font-size: medium !important;
        padding: 2px;
        margin: auto 2px !important;
    }

    .card-fondo-title {
        background-color: #5a5a5a;
        border-radius: 3px;
    }

    .card-destacadas-body {
        padding: 5px !important;
    }
}
