.div-slide-propiedades {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    height: 100%;
    width: 100%;
    
}

.slide-imagen {
    width: 85% !important;
    height: 90%;
    object-fit: cover;
    border-radius: 8px !important;
}

.datos-destacadas {
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 20%;
    border-radius: 20px !important;
}


.card-destacadas-body {
    background-color: rgb(234, 181, 57);
    
}

.card-destacadas-estado {
    color: rgb(255, 255, 255) !important;
    font-size: x-large !important;
    text-align: center;
    padding: 4px;
    margin: auto 2px !important;
    font-weight: 400 !important;
    
}

.card-destacadas-textos {
    color: white;
    font-size: large;

    .card-destacada-propiedad-name {
        font-size: xx-large;
        font-weight: bold;
    }
}

.card-fondo-title {
    display: inline-block;
    padding: 0px 1px;
    background-color: #5a5a5a;
    border-radius: 3px;
}

#propiedades-destacadas-piancatelli {
    color: #cda523;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 2%
}

@media (max-width: 800px) {
    .datos-destacadas {
        position: absolute;
        bottom: 0%;
        width: 60%;
    }

}