.swiper-container {
  margin: 0 auto;
  /* Centrar el swiper horizontalmente */
  background-color: rgb(255, 255, 255);
}

.swiper-container .swiperDestacadas {
  height: 85vh;
  padding-bottom: 50px;
}


.swiper-container .slide-destacadas{
  height: auto;
  background-color: rgba(255, 255, 255, 0.508);
}



/* Puntos inactivos */
.swiper-container .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #ffffff; /* Color de los puntos inactivos */
  border-radius: 50%;
  border: 2px solid #49545e;
  margin: 0 8px; 
  opacity: 0.5; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

/* Punto activo */
.swiper-container .swiper-pagination-bullet-active {
  background-color: #49545e;
  transform: scale(1); 
}

@media (max-width: 768px) {
  .swiper-container .swiperDestacadas {
    height: 50vh;
  }
}