.property-carousel-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin: auto;
    padding: 40px 0;
    position: relative;
    gap: 20px;
}

.flecha {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    /* Color de las flechas */
    font-size: 35px;
    /* Tamaño de las flechas */
    justify-content: center;
}

.carousel-item {
    transition: opacity 0.5s ease-in-out; /* Transición suave para el cambio de opacidad */
}

@media (max-width: 750px) {
    .property-carousel-container {
        width: 90%;
        margin: auto;
        position: relative;
        
    }


    .flecha {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 27px;
        justify-content: center;
    }
}