/* Footer general */

.columnas-footer{
  line-height: 10px;
}

.footer-row {
  background-color: #49545e;
  color: #c7c7c7;
}

.footer-bottom {
  background-color: #191919;
  color: white;
  padding: 3px;
 
}

.footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #808d80;
  font-weight: 600;
  font-size: 12px;
}

.footer-rights {
  text-align: center;
  align-items: center;
}

/* Links del footer */
.footer-links {
  display: flex;
  padding-bottom: 9px !important;
  color: #c7c7c7;
  text-decoration: none;
 
}

.footer-links:hover {
  color: #fff;
}

/* Botones */
.boton-form {
  border-radius: 8px;
}

/* Contacto */
.footer-contact {
  display: flex;
  gap: 5px;
  align-items: center;
  text-wrap: balance;
  line-height: 20px;
  
}


.text-right {
  float: right;
}

/* Iconos del footer */
.footer-icons {
  display: flex;
  gap: 5%;
  padding-top: 10px;
}

/* Logo y nombre */
.nombre-footer {
  color: white;
}

.stack-logo-name {
  align-items: center;
  gap: 5px;
}

/* Seguinos en Instagram */
.link-seguinos {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.link-seguinos:hover {
  color: #f8f7f7;
}

.link-insta {
  text-align: center;
}

/* Estilo de las columnas del footer */
.columnas-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}

/* Título de la búsqueda rápida */
.footer-busqueda {
  padding-bottom: 15px;
  text-align: center;
  color: white;
}

/* Links legales */
.links-legales {
  text-decoration: none;
  color: white;
}

.enlace-whatsapp-footer{
  color: white;
  text-decoration: none;
  margin-bottom: 12px;
  gap: 5px;
}

/* Media queries */
@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }

  .footer-links,
  .footer-busqueda,
  .logo-footer,
  .nombre-footer,
  .footer-contact,
  .link-insta {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .manejo-de-accesos-rapidos {
    display: none !important;
  }
}
