.footer-row {
  background-color: #49545e;
  color: #c7c7c7;
}

.footer-bottom {
  background-color: #191919;
  color: white;
}

.footer-links {
  display: flex;
  padding-bottom: 9px !important;
  color: #c7c7c7;
  text-decoration: none;
}

.footer-links:hover {
  color: rgb(255, 255, 255);
}


.boton-form {
  border-radius: 8px;
}

.footer-rights {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #808d80;
  font-weight: 600;
  font-size: 12px;

}

.footer-icons {
  display: flex;
  gap: 5%;
  padding-top: 10px;

}

.footer-contact {
  display: flex;
  gap: 5px;
  align-items: center;
  
}

.text-right {
  float: right;
}

.link-seguinos {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.link-seguinos:hover {
  color: #f8f7f7;
  font-weight: bold;
}

.link-insta {
  text-align: center;

  .logo-instagram {
    font-size: 20px;
  }
}

.nombre-footer {
  color: white;
}

.stack-logo-name {
  align-items: center;
  gap: 5px;
}

.columnas-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer-busqueda {
  padding-bottom: 15px;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }

  .footer-links,
  .footer-busqueda,
  .logo-footer,
  .nombre-footer,
  .footer-contact,
  .link-insta {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .manejo-de-accesos-rapidos {
    display: none !important;
  }
}