
.footer-row {
  background-color: #0a212b;
  color: #c7c7c7;
} 

.footer-bottom {
  background-color: #03161d;
  color: white;
}

.footer-links{
  display: flex;
  padding-top: 15px !important;
 color: black;
 width: 220px;
}
.boton-form {
  border-radius: 8px;
}

.footer-rights {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #808d80;
  font-weight: 600;
  font-size: 12px;

}

.footer-icons {
  display: flex;
  gap: 5%;
  padding-top: 10px;

}

.footer-contact {
  display: flex;
  gap: 3px;
  padding-top: 10px;
  align-items: center;
  padding-top: 20px;

}

.text-right {
  float: right;
}




.footer-titulo{
 
  text-align: center ;
}

