.image-gallery-image, .image-gallery-slides{
    border-radius: 1em;
}

.image-gallery-index{
    border-radius: 0 1em;
}

.image-gallery-thumbnail-image{
    border-radius: 0.5em;
}

.image-gallery-thumbnail{
    border-radius: 0.7em;
}

.image-gallery-svg{
    width: 50%!important;
}