@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat';
}
body {
    
    background-color: rgb(241, 245, 241);
    height: 100%;
    margin: 0;
}

.form-control:focus {
    box-shadow: none!important;
}