.thumbsContainer {
    display: flex;
    flex-flow: wrap;
    margin-top: 16px;
}
  
.thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid rgb(234, 234, 234);
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;
}
  
.thumbInner {
    display: flex;
    min-width: 0px;
    overflow: hidden;
}
  
.img {
    display: block;
    width: auto;
    height: 100%;
}

.floatButton {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
